<a href="https://colab.research.google.com/github/mariyakukhtinova-sys/dbs/blob/main/Maria_Kukhtinova_hw5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [3]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [4]:
pip install findspark

Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl.metadata (352 bytes)
Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [5]:
import findspark
findspark.init()

In [6]:
import pyspark
from pyspark.context import SparkContext, SparkConf
from pyspark.sql.session import SparkSession
spark = (
    SparkSession
    .builder
    .appName('Test_01')
    .config('spark.ui.port', '9311')
    .config('spark.executor.memoryOverhead', '1G')
    .config('spark.shuffle.service.enabled', 'true')
    .config('spark.dynamicAllocation.enabled', 'true')
    .config('spark.driver.extraClassPath', '/opt/spark/jars/sqljdbc42.jar')\
    .config('spark.executor.extraClassPath', '/opt/spark/jars/sqljdbc42.jar')\
    .getOrCreate()
)

In [7]:
spark

In [8]:
from pyspark.sql import functions as f

## Первый датафрейм с данными по отелю

In [30]:
logs_hotel = spark.read.option("header",True).option("sep",",").csv("Hotel.csv")

In [10]:
logs_hotel.show()

+--------+--------+----------+--------------+-----------+------------+-----------------+-----------+---------+----+-----+----+--------------+--------------+----------------------+------------------------------+--------------+----------------+------------+
|      ID|n_adults|n_children|weekend_nights|week_nights|   meal_plan|car_parking_space|  room_type|lead_time|year|month|date|market_segment|repeated_guest|previous_cancellations|previous_bookings_not_canceled|avg_room_price|special_requests|      status|
+--------+--------+----------+--------------+-----------+------------+-----------------+-----------+---------+----+-----+----+--------------+--------------+----------------------+------------------------------+--------------+----------------+------------+
|INN00001|       2|         0|             1|          2| Meal Plan 1|                0|Room_Type 1|      224|2017|   10|   2|       Offline|             0|                     0|                             0|            65|               0|Not_Canceled|
|INN00002|       2|         0|             2|          3|Not Selected|                0|Room_Type 1|        5|2018|   11|   6|        Online|             0|                     0|                             0|        106.68|               1|Not_Canceled|
|INN00003|       1|         0|             2|          1| Meal Plan 1|                0|Room_Type 1|        1|2018|    2|  28|        Online|             0|                     0|                             0|            60|               0|    Canceled|
|INN00004|       2|         0|             0|          2| Meal Plan 1|                0|Room_Type 1|      211|2018|    5|  20|        Online|             0|                     0|                             0|           100|               0|    Canceled|
|INN00005|       2|         0|             1|          1|Not Selected|                0|Room_Type 1|       48|2018|    4|  11|        Online|             0|                     0|                             0|          94.5|               0|    Canceled|
|INN00006|       2|         0|             0|          2| Meal Plan 2|                0|Room_Type 1|      346|2018|    9|  13|        Online|             0|                     0|                             0|           115|               1|    Canceled|
|INN00007|       2|         0|             1|          3| Meal Plan 1|                0|Room_Type 1|       34|2017|   10|  15|        Online|             0|                     0|                             0|        107.55|               1|Not_Canceled|
|INN00008|       2|         0|             1|          3| Meal Plan 1|                0|Room_Type 4|       83|2018|   12|  26|        Online|             0|                     0|                             0|        105.61|               1|Not_Canceled|
|INN00009|       3|         0|             0|          4| Meal Plan 1|                0|Room_Type 1|      121|2018|    7|   6|       Offline|             0|                     0|                             0|          96.9|               1|Not_Canceled|
|INN00010|       2|         0|             0|          5| Meal Plan 1|                0|Room_Type 4|       44|2018|   10|  18|        Online|             0|                     0|                             0|        133.44|               3|Not_Canceled|
|INN00011|       1|         0|             1|          0|Not Selected|                0|Room_Type 1|        0|2018|    9|  11|        Online|             0|                     0|                             0|         85.03|               0|Not_Canceled|
|INN00012|       1|         0|             2|          1| Meal Plan 1|                0|Room_Type 4|       35|2018|    4|  30|        Online|             0|                     0|                             0|         140.4|               1|Not_Canceled|
|INN00013|       2|         0|             2|          1|Not Selected|                0|Room_Type 1|       30|2018|   11|  26|        Online|             0|                     0|                             0|            88|               0|    Canceled|
|INN00014|       1|         0|             2|          0| Meal Plan 1|                0|Room_Type 1|       95|2018|   11|  20|        Online|             0|                     0|                             0|            90|               2|    Canceled|
|INN00015|       2|         0|             0|          2| Meal Plan 1|                0|Room_Type 1|       47|2017|   10|  20|        Online|             0|                     0|                             0|          94.5|               2|Not_Canceled|
|INN00016|       2|         0|             0|          2| Meal Plan 2|                0|Room_Type 1|      256|2018|    6|  15|        Online|             0|                     0|                             0|           115|               1|    Canceled|
|INN00017|       1|         0|             1|          0| Meal Plan 1|                0|Room_Type 1|        0|2017|   10|   5|       Offline|             0|                     0|                             0|            96|               0|Not_Canceled|
|INN00018|       2|         0|             1|          3|Not Selected|                0|Room_Type 1|        1|2017|    8|  10|        Online|             0|                     0|                             0|            96|               1|Not_Canceled|
|INN00019|       2|         0|             2|          2| Meal Plan 1|                0|Room_Type 1|       99|2017|   10|  30|        Online|             0|                     0|                             0|            65|               0|    Canceled|
|INN00020|       2|         0|             1|          0| Meal Plan 1|                0|Room_Type 1|       12|2017|   10|   4|       Offline|             0|                     0|                             0|            72|               0|Not_Canceled|
+--------+--------+----------+--------------+-----------+------------+-----------------+-----------+---------+----+-----+----+--------------+--------------+----------------------+------------------------------+--------------+----------------+------------+
only showing top 20 rows

In [31]:
logs_hotel.printSchema()

root
 |-- ID: string (nullable = true)
 |-- n_adults: string (nullable = true)
 |-- n_children: string (nullable = true)
 |-- weekend_nights: string (nullable = true)
 |-- week_nights: string (nullable = true)
 |-- meal_plan: string (nullable = true)
 |-- car_parking_space: string (nullable = true)
 |-- room_type: string (nullable = true)
 |-- lead_time: string (nullable = true)
 |-- year: string (nullable = true)
 |-- month: string (nullable = true)
 |-- date: string (nullable = true)
 |-- market_segment: string (nullable = true)
 |-- repeated_guest: string (nullable = true)
 |-- previous_cancellations: string (nullable = true)
 |-- previous_bookings_not_canceled: string (nullable = true)
 |-- avg_room_price: string (nullable = true)
 |-- special_requests: string (nullable = true)
 |-- status: string (nullable = true)

Все данные типа string.

Так не пойдет, укажем свою собственную схему с корректными типами и перечитаем файл

In [32]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DoubleType, DateType, BooleanType

schema = StructType([
    StructField("ID", StringType(), True),
    StructField("n_adults", IntegerType(), True),
    StructField("n_children", IntegerType(), True),
    StructField("weekend_nights", IntegerType(), True),
    StructField("week_nights", IntegerType(), True),
    StructField("meal_plan", StringType(), True),
    StructField("car_parking_space", IntegerType(), True),
    StructField("room_type", StringType(), True),
    StructField("lead_time", IntegerType(), True),
    StructField("year", IntegerType(), True),
    StructField("month", IntegerType(), True),
    StructField("date", IntegerType(), True),
    StructField("market_segment", StringType(), True),
    StructField("repeated_guest", IntegerType(), True),
    StructField("previous_cancellations", IntegerType(), True),
    StructField("previous_bookings_not_canceled", IntegerType(), True),
    StructField("avg_room_price", DoubleType(), True),
    StructField("special_requests", IntegerType(), True),
    StructField("status", StringType(), True)
])

logs_hotel = spark.read.option("header",True).option("sep",",").schema(schema).csv("Hotel.csv")

logs_hotel.show()

+--------+--------+----------+--------------+-----------+------------+-----------------+-----------+---------+----+-----+----+--------------+--------------+----------------------+------------------------------+--------------+----------------+------------+
|      ID|n_adults|n_children|weekend_nights|week_nights|   meal_plan|car_parking_space|  room_type|lead_time|year|month|date|market_segment|repeated_guest|previous_cancellations|previous_bookings_not_canceled|avg_room_price|special_requests|      status|
+--------+--------+----------+--------------+-----------+------------+-----------------+-----------+---------+----+-----+----+--------------+--------------+----------------------+------------------------------+--------------+----------------+------------+
|INN00001|       2|         0|             1|          2| Meal Plan 1|                0|Room_Type 1|      224|2017|   10|   2|       Offline|             0|                     0|                             0|          65.0|               0|Not_Canceled|
|INN00002|       2|         0|             2|          3|Not Selected|                0|Room_Type 1|        5|2018|   11|   6|        Online|             0|                     0|                             0|        106.68|               1|Not_Canceled|
|INN00003|       1|         0|             2|          1| Meal Plan 1|                0|Room_Type 1|        1|2018|    2|  28|        Online|             0|                     0|                             0|          60.0|               0|    Canceled|
|INN00004|       2|         0|             0|          2| Meal Plan 1|                0|Room_Type 1|      211|2018|    5|  20|        Online|             0|                     0|                             0|         100.0|               0|    Canceled|
|INN00005|       2|         0|             1|          1|Not Selected|                0|Room_Type 1|       48|2018|    4|  11|        Online|             0|                     0|                             0|          94.5|               0|    Canceled|
|INN00006|       2|         0|             0|          2| Meal Plan 2|                0|Room_Type 1|      346|2018|    9|  13|        Online|             0|                     0|                             0|         115.0|               1|    Canceled|
|INN00007|       2|         0|             1|          3| Meal Plan 1|                0|Room_Type 1|       34|2017|   10|  15|        Online|             0|                     0|                             0|        107.55|               1|Not_Canceled|
|INN00008|       2|         0|             1|          3| Meal Plan 1|                0|Room_Type 4|       83|2018|   12|  26|        Online|             0|                     0|                             0|        105.61|               1|Not_Canceled|
|INN00009|       3|         0|             0|          4| Meal Plan 1|                0|Room_Type 1|      121|2018|    7|   6|       Offline|             0|                     0|                             0|          96.9|               1|Not_Canceled|
|INN00010|       2|         0|             0|          5| Meal Plan 1|                0|Room_Type 4|       44|2018|   10|  18|        Online|             0|                     0|                             0|        133.44|               3|Not_Canceled|
|INN00011|       1|         0|             1|          0|Not Selected|                0|Room_Type 1|        0|2018|    9|  11|        Online|             0|                     0|                             0|         85.03|               0|Not_Canceled|
|INN00012|       1|         0|             2|          1| Meal Plan 1|                0|Room_Type 4|       35|2018|    4|  30|        Online|             0|                     0|                             0|         140.4|               1|Not_Canceled|
|INN00013|       2|         0|             2|          1|Not Selected|                0|Room_Type 1|       30|2018|   11|  26|        Online|             0|                     0|                             0|          88.0|               0|    Canceled|
|INN00014|       1|         0|             2|          0| Meal Plan 1|                0|Room_Type 1|       95|2018|   11|  20|        Online|             0|                     0|                             0|          90.0|               2|    Canceled|
|INN00015|       2|         0|             0|          2| Meal Plan 1|                0|Room_Type 1|       47|2017|   10|  20|        Online|             0|                     0|                             0|          94.5|               2|Not_Canceled|
|INN00016|       2|         0|             0|          2| Meal Plan 2|                0|Room_Type 1|      256|2018|    6|  15|        Online|             0|                     0|                             0|         115.0|               1|    Canceled|
|INN00017|       1|         0|             1|          0| Meal Plan 1|                0|Room_Type 1|        0|2017|   10|   5|       Offline|             0|                     0|                             0|          96.0|               0|Not_Canceled|
|INN00018|       2|         0|             1|          3|Not Selected|                0|Room_Type 1|        1|2017|    8|  10|        Online|             0|                     0|                             0|          96.0|               1|Not_Canceled|
|INN00019|       2|         0|             2|          2| Meal Plan 1|                0|Room_Type 1|       99|2017|   10|  30|        Online|             0|                     0|                             0|          65.0|               0|    Canceled|
|INN00020|       2|         0|             1|          0| Meal Plan 1|                0|Room_Type 1|       12|2017|   10|   4|       Offline|             0|                     0|                             0|          72.0|               0|Not_Canceled|
+--------+--------+----------+--------------+-----------+------------+-----------------+-----------+---------+----+-----+----+--------------+--------------+----------------------+------------------------------+--------------+----------------+------------+
only showing top 20 rows

In [13]:
logs_hotel.describe().show()

+-------+--------+------------------+-------------------+-----------------+------------------+------------+-----------+-----------------+------------------+------------------+------------------+--------------+----------------------+------------------------------+-----------------+------------------+------------+
|summary|      ID|          n_adults|         n_children|   weekend_nights|       week_nights|   meal_plan|  room_type|        lead_time|              year|             month|              date|market_segment|previous_cancellations|previous_bookings_not_canceled|   avg_room_price|  special_requests|      status|
+-------+--------+------------------+-------------------+-----------------+------------------+------------+-----------+-----------------+------------------+------------------+------------------+--------------+----------------------+------------------------------+-----------------+------------------+------------+
|  count|   36275|             36275|              36275|            36275|             36275|       36275|      36275|            36275|             36275|             36275|             36275|         36275|                 36275|                         36275|            36275|             36275|       36275|
|   mean|    NULL|1.8449620951068229|0.10527911784975878|0.810723638869745|2.2043004824259134|        NULL|       NULL|85.23255685733976|2017.8204272915232| 7.423652653342522|15.596995175740869|          NULL|  0.023349414197105445|           0.15341144038594073|103.4235390764958|0.6196554100620262|        NULL|
| stddev|    NULL|0.5187148379012908| 0.4026480635892787|0.870643614759999|1.4109048548240162|        NULL|       NULL|85.93081669923292|0.3838364395590116|3.0698944112257633| 8.740447368632918|          NULL|   0.36833144791978645|            1.7541707114426341|35.08942403637024|0.7862358983956053|        NULL|
|    min|INN00001|                 0|                  0|                0|                 0| Meal Plan 1|Room_Type 1|                0|              2017|                 1|                 1|      Aviation|                     0|                             0|              0.0|                 0|    Canceled|
|    max|INN36275|                 4|                 10|                7|                17|Not Selected|Room_Type 7|              443|              2018|                12|                31|        Online|                    13|                            58|            540.0|                 5|Not_Canceled|
+-------+--------+------------------+-------------------+-----------------+------------------+------------+-----------+-----------------+------------------+------------------+------------------+--------------+----------------------+------------------------------+-----------------+------------------+------------+

In [33]:
# сразу сделаем колонку с датой
logs_hotel = logs_hotel.withColumn(
    "full_date",
    f.concat_ws("-",
        f.col("year"),
        f.lpad(f.col("month"), 2, "0"),
        f.lpad(f.col("date"), 2, "0")
    ).cast("date")
)


# в данных есть 37 записей за 29 февраля 2018г - некорректная дата
# удалим записи, чтобы можно было работать с датафреймом
logs_hotel = logs_hotel.filter(
    ~(
        (f.col('year') == 2018) &
        (f.col('month') == 2) &
        (f.col('date') == 29)
    )
)

#logs_hotel.show()
#logs_hotel.printSchema()

## Второй датафрейм с календарем

In [15]:
from pyspark.sql.functions import udf
import pandas as pd

start_date = '2017-01-01'
end_date = '2018-12-31'

date_range = pd.date_range(start=start_date, end=end_date, freq='D')

calendar = spark.createDataFrame(
    [(d.date(),) for d in date_range],
    ["calendar_dt"]
)

calendar.show(5)

+-----------+
|calendar_dt|
+-----------+
| 2017-01-01|
| 2017-01-02|
| 2017-01-03|
| 2017-01-04|
| 2017-01-05|
+-----------+
only showing top 5 rows

## Запросы

    Вычислить среднее количество ночей, которые гости проводят в отеле
    (только для подтвержденных бронирований, с детализацией по месяцам и годам)

In [16]:
logs_hotel.filter(f.col('status') == 'Not_Canceled')\
  .groupBy(f.col('year'), f.col('month'))\
  .agg(f.mean(f.col('weekend_nights') + f.col('week_nights')).alias('avg_total_nights'))\
  .orderBy('year', 'month') \
  .show()

+----+-----+------------------+
|year|month|  avg_total_nights|
+----+-----+------------------+
|2017|    7|3.0166666666666666|
|2017|    8|2.7189384800965017|
|2017|    9|2.6550783912747105|
|2017|   10|2.7032898820608318|
|2017|   11|2.7241935483870967|
|2017|   12| 3.043046357615894|
|2018|    1|2.7414141414141415|
|2018|    2|2.6768488745980705|
|2018|    3|3.0392038600723765|
|2018|    4| 2.924755887421022|
|2018|    5|2.8054545454545456|
|2018|    6| 2.596757322175732|
|2018|    7|3.1938088829071334|
|2018|    8|3.1544117647058822|
|2018|    9| 2.786425902864259|
|2018|   10|2.8910186199342824|
|2018|   11|2.9784511784511785|
|2018|   12|3.2521891418563924|
+----+-----+------------------+


    Определить ТОП-3 месяца по проценту отмененных броней за 2018 год.

In [17]:
logs_hotel\
  .filter(f.col('year') == 2018)\
  .groupBy(f.col('month'))\
  .agg((100.0 * f.count(f.when(f.col('status') == 'Canceled', 1)) / f.count('*')).alias('cancel_rate_prct'))\
  .orderBy(f.col('cancel_rate_prct'), ascending = False)\
  .show(3)

+-----+-----------------+
|month| cancel_rate_prct|
+-----+-----------------+
|    8|46.55234012147196|
|   10| 46.3572267920094|
|    9|45.77987846049966|
+-----+-----------------+
only showing top 3 rows

    Вычислить среднее время на каждый месяц между бронированием и заездом в отель для подтвержденных броней.

In [18]:
logs_hotel.filter(f.col('status') == 'Not_Canceled')\
  .groupBy(f.col('month'))\
  .agg(f.mean(f.col('lead_time')).alias('avg_lead_days'))\
  .orderBy(f.col('month'))\
  .show()

+-----+------------------+
|month|     avg_lead_days|
+-----+------------------+
|    1| 34.87171717171717|
|    2|30.272508038585208|
|    3| 43.19420989143546|
|    4|62.492820218265365|
|    5| 60.98909090909091|
|    6| 70.63546025104603|
|    7| 90.15691158156912|
|    8|  65.9694623655914|
|    9| 57.78490074845428|
|   10| 65.10736107070119|
|   11| 41.02232779097387|
|   12|61.794196258113786|
+-----+------------------+

    Вычислить общую среднюю выручку на каждый месяц в каждом году, сгруппировав по всем типам бронирования для подтвержденных броней, и вывести это в виде сводной таблицы (PIVOT).

In [19]:
avg_revenue = logs_hotel\
    .filter(f.col('status') == 'Not_Canceled')\
    .groupBy('year' , 'month',)\
    .pivot('market_segment')\
    .agg(f.avg('avg_room_price').alias('avg_revenue'))\
    .orderBy('year', 'month')\
    .show()

+----+-----+------------------+-------------------+------------------+------------------+------------------+
|year|month|          Aviation|      Complementary|         Corporate|           Offline|            Online|
+----+-----+------------------+-------------------+------------------+------------------+------------------+
|2017|    7|              NULL|  7.465999999999999|              65.0| 88.18870129870129| 65.55323529411764|
|2017|    8|              NULL|0.32432432432432434| 66.91666666666667| 97.16254355400697| 97.85685144124166|
|2017|    9|              NULL|   7.37037037037037| 86.03361344537815| 96.79672910662809|113.32639553429031|
|2017|   10|              NULL| 0.5454545454545454| 84.48039215686275| 89.08058751529984| 101.9722835820896|
|2017|   11|              NULL|             4.9375| 68.08036144578314| 66.17945255474449| 84.75230769230772|
|2017|   12|              NULL|               0.05| 69.02763440860215|  69.9498342541436| 87.31105011933171|
|2018|    1|              NULL| 1.7333333333333334|           68.8767|  73.9698407643312| 80.18728937728942|
|2018|    2|              88.0| 0.6176470588235294|  75.0285026737968| 74.90544072948326| 86.98095774647895|
|2018|    3|              89.0| 16.195652173913043| 74.05410256410256| 72.63707259953163| 96.80867492850345|
|2018|    4| 97.57142857142857|                0.0|              80.0| 86.83280303030303|105.49079808459692|
|2018|    5|             101.0|                0.0|100.89790849673201| 94.97498839907193|123.90684414327205|
|2018|    6|              95.0|                0.0| 84.83117647058823|103.01182382133986|119.29651256281409|
|2018|    7|              79.0| 2.6923076923076925| 84.86138613861387| 87.77658088235297|123.71035519125694|
|2018|    8|              NULL|                0.0| 88.65219512195121| 86.69246428571431|130.98568728522318|
|2018|    9|            106.25|              10.96|104.69981308411212| 96.48062015503865|136.69581395348828|
|2018|   10|105.42307692307692|0.13043478260869565| 84.49009615384617|  91.5181292517007|123.51993548387105|
|2018|   11|             92.75|  4.196428571428571| 78.05015503875967| 84.62308823529412|104.50077290076321|
|2018|   12|              NULL|                0.8| 77.90982456140352| 80.20203966005668| 102.2005569205569|
+----+-----+------------------+-------------------+------------------+------------------+------------------+

    Выявить ТОП-5 постоянных гостей, которые принесли наибольшую выручку за все время, и показать их долю в общей выручке от постоянных гостей. Использовать уникальный идентификатор брони как уникальный идентификатор гостя, предположив, что 1 бронь = 1 гость.

In [51]:
from pyspark.sql.window import Window

logs_hotel\
  .filter(f.col('repeated_guest') == 1)\
  .withColumn('booking_revenue',(f.col('week_nights') + f.col('weekend_nights')) * f.col('avg_room_price'))\
  .groupBy('ID')\
  .agg(f.sum('booking_revenue').alias('total_revenue'))\
  .withColumn('total_revenue_all_repeated',
                f.sum('total_revenue').over(Window.partitionBy()))\
  .withColumn('share_of_total', f.col('total_revenue') / f.col('total_revenue_all_repeated') * 100)\
  .orderBy('share_of_total', ascending = False)\
  .show(5)

+--------+------------------+--------------------------+------------------+
|      ID|     total_revenue|total_revenue_all_repeated|    share_of_total|
+--------+------------------+--------------------------+------------------+
|INN19235|1754.3999999999999|        115032.89999999997|1.5251288979065993|
|INN05222|             690.0|        115032.89999999997|0.5998283969194902|
|INN14189|             665.0|        115032.89999999997|0.5780954839876247|
|INN09923|             660.0|        115032.89999999997|0.5737489014012515|
|INN25479|             650.0|        115032.89999999997|0.5650557362285052|
+--------+------------------+--------------------------+------------------+
only showing top 5 rows

    Вывести общее количество гостей на каждый день в отеле, отсортировав по убыванию дат, включая дни, когда отель пустует. Также рассчитать процент загрузки для каждого дня, если известно, что общая вместимость отеля 400 человек.

In [64]:
tmp = logs_hotel\
  .groupBy("full_date")\
  .agg(
      (f.sum("n_adults") + f.sum("n_children")).alias("guests"),
      (100.0*(f.sum("n_adults") + f.sum("n_children"))/400).alias("load_prct")
      )\
  .orderBy("full_date", ascending = False)

calendar.join(tmp, on=calendar["calendar_dt"] == tmp["full_date"], how="left")\
  .select(
        "calendar_dt",
        f.coalesce(f.col("guests"), f.lit(0)).alias("guests"),
        f.coalesce(f.col("load_prct"), f.lit(0.0)).alias("load_prct")
    )\
    .orderBy("calendar_dt", ascending=False)\
  .show()

+-----------+------+---------+
|calendar_dt|guests|load_prct|
+-----------+------+---------+
| 2018-12-31|    89|    22.25|
| 2018-12-30|   212|     53.0|
| 2018-12-29|   216|     54.0|
| 2018-12-28|   183|    45.75|
| 2018-12-27|   325|    81.25|
| 2018-12-26|   236|     59.0|
| 2018-12-25|   114|     28.5|
| 2018-12-24|   119|    29.75|
| 2018-12-23|   152|     38.0|
| 2018-12-22|   109|    27.25|
| 2018-12-21|   106|     26.5|
| 2018-12-20|    73|    18.25|
| 2018-12-19|    93|    23.25|
| 2018-12-18|    87|    21.75|
| 2018-12-17|    91|    22.75|
| 2018-12-16|   166|     41.5|
| 2018-12-15|    66|     16.5|
| 2018-12-14|    50|     12.5|
| 2018-12-13|    61|    15.25|
| 2018-12-12|    56|     14.0|
+-----------+------+---------+
only showing top 20 rows